<?xml version="1.0" encoding="UTF-8"?>
<settings
        xmlns='http://www.yakuzasrevenge.fr/settings'
        xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
        xsi:schemaLocation='http://www.yakuzasrevenge.fr/settings ../xsd/settings.xsd'>
    <volume>
        <general>1</general>
        <music>1</music>
        <sfx>1</sfx>
        <ui>1</ui>
    </volume>
    <windowMode>Windowed Borderless</windowMode>
    <screenResolution>16/9</screenResolution>
    <fps>-1</fps>
    <quality>High</quality>
</settings>