<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <volume>
        <general>0.25</general>
        <music>0.25</music>
        <sfx>0.25</sfx>
        <ui>0.25</ui>
    </volume>
    <windowMode>Full Screen</windowMode>
    <screenResolution>16/9</screenResolution>
    <fps>-1</fps>
    <quality>High</quality>
</settings>
