<?xml version="1.0" encoding="UTF-8"?>
<settings
        xmlns='http://www.yakuzasrevenge.fr/settings'
        xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
        xsi:schemaLocation='http://www.yakuzasrevenge.fr/settings ../xsd/settings.xsd'>
    <volume>
        <general>0.25</general>
        <music>0.25</music>
        <sfx>0.25</sfx>
        <ui>0.25</ui>
    </volume>
    <windowMode>Full Screen</windowMode>
    <screenResolution>16/9</screenResolution>
    <fps>-1</fps>
    <quality>High</quality>
</settings>